<div class="container">
    <div class="row justify-content-center">
        <div class="cold-md-3">
            <h1>Crear un nuevo drone</h1>
            <hr>

            <form action="/drone/create">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
                <div class="mb-3">
                    <label for="propellers" class="form-label">Propellers</label>
                    <input type="text" class="form-control" id="propellers" name="propellers">
                </div>
                <div class="mb-3 form-check">
                    <input type="maxSpeed" class="form-label" id="maxSpeed">
                    <label class="text" for="exampleCheck1">maxSpeed</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>
</div>